<div class="container">
    <h1>{{title}}</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="inputForm"
                (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-5">
                        <label for="monthlyIncome">
                            What is your monthly income?
                        </label>
                        <input                          
                            type="text"
                            autocomplete="off"
                            id="monthlyIncome"
                            (blur)="changeMonthlyIncomeFormat()"
                            class="form-control"                            
                            formControlName="monthlyIncome">   
                        <span 
                            *ngIf="!inputForm.get('monthlyIncome').valid && inputForm.get('monthlyIncome').touched"
                            class="help-block">
                            <span *ngIf="inputForm.get('monthlyIncome').errors['required']">
                                Please enter monthly income
                            </span>
                            <span *ngIf="inputForm.get('monthlyIncome').errors['minimumMonthlyIncomeError']">
                                Minimum monthly income should be {{minimumMonthlyIncome}}
                            </span>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label for="requestedAmount">
                            What is the requested amount?
                        </label>
                        <input                          
                            type="text"
                            autocomplete="off"
                            id="requestedAmount"
                            (blur)="changeRequestedAmountFormat()"
                            class="form-control"                            
                            formControlName="requestedAmount">   
                        <span 
                            *ngIf="!inputForm.get('requestedAmount').valid && inputForm.get('requestedAmount').touched"
                            class="help-block">
                            <span *ngIf="inputForm.get('requestedAmount').errors['required']">
                                Please enter requested amount
                            </span>
                            <span *ngIf="inputForm.get('requestedAmount').errors['minimumRequestedAmountError']">
                                Minimum requested amount should be {{minimumRequestedAmount}}
                            </span>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label for="loanTerm">
                            What is the loan term? (in months)
                        </label>
                        <input                          
                            type="number"
                            autocomplete="off"
                            id="loanTerm"
                            class="form-control"                            
                            formControlName="loanTerm">   
                        <span 
                            *ngIf="!inputForm.get('loanTerm').valid && inputForm.get('loanTerm').touched"
                            class="help-block">
                            <span *ngIf="inputForm.get('loanTerm').errors['required']">
                                Please enter loan term
                            </span>
                            <span *ngIf="inputForm.get('loanTerm').errors.min">
                                Minimum loan term should be 36
                            </span>
                            <span *ngIf="inputForm.get('loanTerm').errors.max">
                                Maximum loan term should be 360
                            </span>
                        </span>
                    </div>
                </div>

                              
                <br>
                <div >
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
