<div class="container">
    <h1>{{title}}</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="inputForm"
                (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-5">
                        <label for="monthlyIncome">
                            What is your Monthly Income?
                        </label>
                        <input                          
                            type="text"
                            autocomplete="off"
                            id="monthlyIncome"
                            (blur)="changeToDecimalFormat()"
                            class="form-control"                            
                            formControlName="monthlyIncome">   
                        <span 
                            *ngIf="!inputForm.get('monthlyIncome').valid && inputForm.get('monthlyIncome').touched"
                            class="help-block">
                            <span *ngIf="inputForm.get('monthlyIncome').errors['required']">
                                Please enter monthly income
                            </span>
                            <span *ngIf="inputForm.get('monthlyIncome').errors['minimumMonthlyIncomeError']">
                                Minimum monthly income should be 500000
                            </span>
                        </span>
                    </div>
                </div>                
                <br>
                <div >
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
